@import "../../style//mixin.scss";
@import "../../style/variables.scss";


.container {
    // height: 100vh;
    // width: 100%;
    // margin: 0 auto;
    display: flex;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    padding: 100px;

    &>* {
        min-width: 200px;
        min-height: 200px;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.button {
    @include button($blue-gray-color);
}

.mainContainer {
    display: flex;
    cursor: pointer;
}

.columnContainer {
    margin: 8px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    width: 220px;

    display: flex;
    flex-direction: column;
    
}

.titleColumn{
    padding: 8px;
}

.taskListColumn{
    padding: 8px;
    transition: background-color 0.2s ease;
    flex-grow: 1;
    min-height: 100px;
}

.taskContainer{
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
}

.quote{
    width: 200px;
    border: 1px solid grey;
    margin-bottom: 10px;
    background-color: lightblue;
    padding:  10px;
}